<!DOCTYPE html>
<html>
    <head>
        <title>GENRE INDEX</title>
    </head>
    <body>
        <h1>Your Genre Index</h1>
        <ul>
            <%@genres.each do |genre|%>
            <li><a href="/genres/<%=genre.slug%>"><%=genre.name%></a></li>
            <%end%>
        </ul>
    </body>
</html>