<!DOCTYPE html>
<html>
    <body>
        <h1>Playlist</h1>
            <h2>Songs</h2>
            <ul>
                <% @genres.each do |genre| %>
                    <li><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></li>
                <% end %>
            </ul>
    </body>
</html>