<!DOCTYPE html>
<html>
<head>
  <title>Aritsts</title>
</head>
<body>
  <h1>Artists:</h1>
  <% @artists.each do |artist| %>
    <p><a href="/artists/<%= artist.slug %>"><%= artist.name %></a></p>
  <% end %>
</body>
</html>
