<h1>Artist Index</h1>
<ul>
  <% @artists.each do |artist| %>
    <li><a href='/artists/<%= artist.slug %>'><%= artist.name %></a></li>
  <% end %>
</ul>

<a href='/songs/new'>New Song</a>
<br>
<a href='/songs'>Songs</a>
<br>
<a href='/genres'>Genres</a>
