<html>
  
  <head></head>
  <body>
    
    
  <% @artists.each do |a| %>
    <input type="checkbox" name="artists" id="artists"><%= a.name %></input><br>
  <% end %>
    
    
    
    
    
    
    
    
    
    
    
    
    
  </body>
  
</html>