<h1>Create a new Artist</h1>

<form action="/artists" method="POST">
  <label>Artist Name:</label>
  <br>
  <input type="text" name="artist[name]">

  <br>
  <input type="submit" value="Create Artist">
</form>
