<h1>Enter Artist Information</h1>

<form>
  <input action="/artists" method="post">
  <div>	
    <label for="Name">Artist Name:</label>
    <input type="text" name="Name" id="Name" value="Name">
  </div>

  <input type="submit" value="Create">
</form>