<<<<<<< HEAD:app/views/artist/artists.erb
<% @artists.each do |artist| %>
  <li> <a href="/artists/<%= artist.slug %>"> <%= artist.name %> </a></li>
<% end %>
=======
>>>>>>> 82eea051531d91e119751ac753da2cecb2ee2066:app/views/songs.erb
