<html>
  <body>
    <% if flash.has?(:message) %>
      <%= flash[:message] %>
    <% end %>
    <h1>Songs List</h1>
    <br>
    <% @songs.each do |song| %>
    <%= song.name %>
    <a href="/songs/<%= song.slug %>">More info></a>
    <% end %>
  </body>
</html>
