<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="stylesheets/song_index.css" type="text/css">
</head>
<body>
  <table>
  <tr>
    <th>Song's Name</th>
  </tr>
  <% @songs.each do |song| %>
    <tr>
      <td><%= song.name %></td>
    </tr>  
  <% end %>

</table>
</body>
</html>
