<h1> Songs Index Page </h1>
<h2> Here are some songs </h2>
<% @songs.each do |song| %>

      <% if song.artist %>
       <%    artist_name = song.artist.name %>
        <% else %>
       <%     artist_name = "None" %>
       <% end %>
            
    <a href="/songs/<%=  song.slug%>"><%=song.name%></a> - <%= artist_name %>
    <br>

<% end %>   ยง