<h1>Create A New Song</h1>

<form action="/songs" method="POST">
    <label>Name:</label>

    <br>

    <input type="text" name="song[name]" id="song_name">

    <h3>Song Genre</h3>
    <% @genres.each do |genre| %>
        <input type="radio" name="genre[name]" id="<%= genre.id %>" value="<%= genre.slug %>"><%= genre.name %><br>
    <% end %>
    <br>

    <h3>Song Artist</h3>
    <label>Artist Name: </label>
    <br>
    <input type="text" name="artist[name]" id="artist_name"></input>
    <br><br>

    <input type="submit" value="Create Song">
    </form>