<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <h1>Create a New Song</h1>
 
    <form action='/songs' method="POST">
        <ul>    
            <li><h3>Song Name: <input type="text" name="song[name]" id="Name"></h3></li>
            <li><h3>Artist Name: <input type="text" name="artist[name]" id="Artist Name"></h3></li>
            <li><h3>Song Genre:</h3></li>
            <ul>
                <% @genres.each do |genre| %>
                    <li><h4><input type="checkbox" name="genre[]" id="<%= genre.name %>" value="<%= genre.id %>"><%= genre.name %></input></h4></li>
                <% end %>
            </ul>    
            <input type="submit" value="Create Song" id="submit">
        </ul>
    </form>
  </body>
</html>