<!DOCTYPE html>
<html>
    <head>
        <title>SONG INDEX</title>
    </head>
    <body>
        <h1>Make Something New</h1>
        <form action='/songs' method="post">
        <label>Song Name</label>
        <input type='text' name="Name">
        <label>Artist Name</label>
        <input type='text' name="Artist Name">
        
        <%Genre.all.each do |genre|%>
        <label> <%=genre.name%></label>
        <input type='checkbox' id="<%=genre.name%>" name="[genres][]" value="<%=genre.id%>">
        <%end%>
        <input type='submit' value='submit' id="Create">
    </body>
</html>