<form action="/songs" method="POST">

  <label for="Name">Song Name: </label>
  <input type="text" id="song_name" name="song_name"/>
  <br><br>

  <label for="Artist Name">Artist Name: </label>
  <br>
  <input type="text" name="artist_name" id="artist_name"></input>
  <br>

  <% Genre.all.each do |genre| %>
    <input type="checkbox" name="genre_ids[]" value="<%=genre.id%>" id="<%=genre.name%>"><%=genre.name%></input>
    <%end%>


  <input type="submit" id="Create" value="Create Song"/>
</form>
