<form method="post" action="/songs">
  
  <section>
    <label for="Name">Song Name:
      <input type="text" id="Name" name="song[name]">
    </label>
  </section>
  
  <br>
  
  <section>
    <label>Artist Name:
      <input type="text" name="artist[name]" id="Artist">
    </label>
  </section>

  <br>

  <section>
    <label>Genres<br>
      <% @genres.each do |g| %>
        <input type="checkbox"  name="genres[]" id="<%= g.name %>" value="<%= g.id %>"><%= g.name %>
        <br>
      <% end %>
    </label>
  </section>
  
  <br>

  <section>
    <input type="submit" value="Create">
  </section>
</form>