<h1>Create a new Song</h1>

<form action="/songs" method="POST">
    <label>Song Name:</label>
    <br>
    <input type='text' name='song_name' id='Name'>

    <h3>Existing Genres</h3>
    <% @genres.each do |genre| %>
        <input type="checkbox" name="genres[]" id="<%= genre.name %>" value="<%= genre.id %>"> <%= genre.name %>
        <br>
    <% end %>

    <h3>Artist</h3>
    <label>Artist Name: </label>
    <br>
    <input type="text" name="artist_name" id="Artist Name"></input>
    <br><br>

    <input type="submit" value="Create">

</form>