<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Song</title>
    <style>
            .card {
                background-color: #ccc;
                text-align: center;
                width: 70%;
                margin: 7% auto;
                padding: 10px;
                border: 1px solid #555;
                box-shadow: -1px 1px #444, -2px 2px #333, -3px 3px 5px #222;
                border-radius: 5px;
            }
        </style>
</head>
<body>
    <div class="card">
        <h1>Create a new song:</h1>
        <form action="/songs" method="post">
            <label for="Name">Song Name:</label>
            <input type="text" name="Name">
            <br>
            <%Genre.all.each do |genre|%>
                <label for="genre"><%=genre.name%></label>
                <input type="checkbox" name="genres[]" id="<%=genre.name%>" value="<%=genre.id%>">
            <%end%>
            <br>
            <label for="Artist Name">New Artist Name:</label>
            <input type="text" name="Artist Name">
            <br>
            <input type="submit" value="Create">
        </form>
    </div>
</body>
</html>