<h1>Create A New Song</h1>

<form action="/songs" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="song[name]" id="Name">
<br><br>
    <label for="artist_name">Artist Name:</label>
    <input type="text" name="artist[name]" id="artist_name">
<br><br>
    <label for="song_genre">Song Genre:</label>
<br>
    <% @genres.each do |genre| %>
        <input type="checkbox" name="genre_ids[]" id="<%= genre.name %>" value="<%= genre.id %>"><%= genre.name %><br>
    <% end %>
<br>
    <input type="submit" value="Create">
    </form>