<h1>New Song</h1>

<form action="/songs" method="POST">

<label for="Name">Song: </label>
<input id="Name" type="text" name="Name">

<label for="Artist Name">Artist: </label>
<input id="Artist Name" type="text" name="Artist Name">
<br>

<label>Genre: </label>
<% @genres.each do |genre| %>
<input type="checkbox" name="genres[]"  id="<%= genre.name %>" value="<%= genre.id %>"><%= genre.name %></input>
<% end %>
<br>

<input type="submit" value="Create">

</form>
