<h1>New Song Form</h1><br>
<form action="/songs" method="post">
    <p> Name: <input type="text" name="Name" id="Name" value="Name"><br> </p>
    <p>Artist Name: <input type="text" name="Artist" id="Artist Name" value="Artist">  </p>


    <br><br>
    Choose an genre:<br>
    <% Genre.all.each do |genre| %>
    <%=genre.name%><input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>"><br>
    <% end %>

    <input type="submit" id="Create" name='submit'>

</form>



