<form action="/songs/new" method="POST">
  
  <label>Create a new song</label>
  <br><br>
  Title:<input type="text" name="title" id="song_title">
  Artist: <input type="text" name="name" id="artist_name">
  <input type="submit" value="Submit">
  
</form>