<form method="POST" action="/songs/new">
<H2>Song Name: <input type="text" id="name" name="song[:name]"/></h2>
<h2>Artist Name: <input type="text" id="artist_name" name="song[:artist][:name]"/></h2>

<button type="submit">Submit</button>
</form>
