<h2>Add a Song:</h2>
<form action="/songs" method="POST">
<label for="song_name">Song Name:</label>
<input id="song_name" type="text" name="song[name]">
<br>
<label for="artist_name">Song's Artist:</label>
<input id="artist_name" type="text" name="artist">
<br> 

<h4>Add a Genre:</h4>
<% Genre.all.each do |genre| %>
<% raise params.inspect%>
<input id="<%= genre.id %>" type="checkbox" name="song[genre_id]" value="<%= genre.id %>"><%= genre.name %>
<% end %>
<br>
<br>
<input type="submit" value="Create Song">