<form method="POST" action='/songs'>
  <label for="artist_name">Artist Name</label><input type='text' name='artist[name]' id='artist_name'>
  
  <label for="name">Name</label><input type='text' name='song[name]' id='name'>
  
  Genre: 
  <% Genre.all.each do |genre| %>
  <input type="checkbox" id="<%=genre.name%>" value="<%=genre.id%>" name="genres[]">
  <% end  %>
  
  <input type="submit" value="Create">
</form>