<html>

  <head></head>
  <body>






    <h2><%= @song.name.upcase %></h2>

    <%  #has ONE - no need to iterate %>

    <h5>    <a href="/artists/<%= @song.artist.name %>">   <%=@song.artist.name %> </a>  </h5>










  </body>

</html>
