Show.erb

<!-- Any given song's show page should have links to that song's artist and each genre associated with the song. -->

<a href="/artists/<%= @songs.artist.slug %>"><%= @songs.artist.name%></a>

<ul>
  <% @songs.genres.each do |genre|%>
  <li><a href="/genres/<%= genre.slug %>"><%= genre.name %></a></li>
  <%end%>
</ul>
