<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Playlister Lab - Songs</title>
    <style>
    body {background-color: black;}
    h1 {color: silver; font-family: verdana;}
    p {color: silver; font-family: verdana;}
    a {text-decoration: none; color: powderblue;}
    </style>
  </head>

  <body>
   <h1>This is a Show Page</h1>
  </body>
</html>