<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%# <% binding.pry %> %>
    <% @artists.each do |artist|%>
    <p>
        <%= artist.name %>
        <a href="/artists/<%= artist.slug %>">View</a>
    </p>
    <% end %>
    
</body>
</html>