<h2>Welcome to Playlister! A database of all your songs.</h2>

<h3>
  Click on the following links to get started. You can always access home by
  clicking on the logo.
</h3>

<div style="margin-left: 30px">
  <a href="/artists"><p>See your Artists</p></a>
  <a href="/songs"><p>See your Songs</p></a>
  <a href="/genres"><p>See your Genres</p></a>
</div>
