<h3>Menu</h3>
<ul>
  <li><a href="/songs/new">Add a New Song</a></li>
  <li><a href="/songs">See Songs</a></li>
  <li><a href="/artists">See Artists</a></li>
  <li><a href="/artists">See Genres</a></li>
</ul>
