<h3>Proceed to Routes "/artists" for list of all artists</h3>
<h3>Proceed to Routes "/genres" for list of all genres</h3>

<h3>Proceed to Routes "/songs" for list of all songs</h3>
<ul>
<li><p>"/songs/new" to create new song</p></li>
<li><p>"/songs/:slug/edit" to edit song</p></li>
<li><p>"/songs/:slug" to review song info</p></li>
</ul>