<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <style>

        li {
            display: inline-block;
            margin-left: 20px;
            
        }

        a {
            text-decoration: none;
            padding: 5px;
            border: 1px solid #444;
            border-radius: 5px;
            box-shadow: -1px 1px 1px #333;
        }

        a:hover {
            background-color: #aaa;
        }

        a:active {
            box-shadow: none;
            color: #fff;
        }
    </style>
</head>
<body>
<h1 style="text-align:center;">Welcome to Playlister!</h1>
    <ul>
        <li><a href="/songs">Songs</a></li>
        <li><a href="/artists">Artists</a></li>
        <li><a href="/genres">Genres</a></li>
    </ul>
</body>
</html> 