<!--<h1>Welcome to Playlister</h1>-->

<!--<h2>What would you like to do?</h2>-->
<!--<a href="/artists">View Genres</a>-->
<!--<a href="/songs">View Songs</a>-->
<!--<a href="/artists">View Artists</a>-->
<!--<a href="/songs/new">Add a Song</a>-->