<h1>Sinatra Music Playlister</h1>
<h2><a href="/songs/new">Make New Song</a></h2>
<h2><a href="/songs">Show all songs</a></h2>
<h2><a href="/genres">show all genres</a></h2>
<h2><a href="/artists">show all artists</a></h2>
