<h1>Welcome to Playlister</h1>


<h3>Menu</h3>
<ul>
  <l1><a href="/songs/new">Make a New Song</a></l1>
  <li><a href="/songs">See all the Songs</a></l1>
  <l1><a href="/artists">See all the Artists</a></li>
  <l1><a href="/genres">See all the Genres</a></li>
</ul>
