<h1>Welome to Playlister!</h1>

<ul>
<li><a href="/songs/new">Make a New Song</a></li>
<li><a href="/songs">See all Songs</a></li>
<li><a href="/artists">See all Artists</a></li>
<li><a href="/genres">See all Genres</a></li>
</ul>
