<!DOCTYPE html>
<html>
  <head>
    <style>
      a {text-decoration: none;}
      a:link {color: green;}    
      a:visited {color: orange;} 
      a:hover {color:rgb(187, 82, 12)}   
      a:active {color:#e74919;}
    </style>
    <title></title>
  </head>

  <body>
    <h1 style="font-style: italic;">Playlister</h1>
    <%= yield %>
  </body>
</html>