<!DOCTYPE html>
<html>
  <head>
    <title>Playlister App</title>
  </head>
  <body>
    <h1 style="text-align: right; margin-right: 20px; margin-top: 40px">
      <a href="/">
        <span
          style="padding: 20px; border-radius: 5px; background-color: #044389; color: white"
          >PLAYLISTER</span
        >
      </a>
    </h1>

    <%= yield %>
  </body>
</html>
