<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <div>
      <% if flash.has?(:message) %>
      <%= flash[:message] %>
      <% end %>
    </div>
    <main>
    <%= yield %>
    </main>
  </body>
</html>
