<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <header>
      <h1>Playlister Home</h1>
      <p>
        <a href="/artists">Artists</a> 
        <a href="/genres">Genres</a> 
        <a href="/songs">Songs</a>
      </p>
      <hr>
    </header>
    
    <main>
      <%= yield %>
    </main>
  </body>
</html>